.dataloads {
    display: flex;
    flex-direction: row;
    opacity: 1;
    height: 30%;
    width: 100%;
    padding: 0px;
    background-color:#003d52;
    overflow: auto; 
}

#currentLoad {
    margin-top: 25px;
    min-width: 50%;
    height: 100%;
    background-color: #003d52;
    overflow: auto;
    align-content: center;
    align-items: center;
}

#topTenIP {
    margin-top: 25px;
    min-width: 50%;
    height: 100%;
    background-color: #003d52;
    align-content: center;
    align-items: center;
}

#secondRow {
    min-width: 98%;
    height: 40%;
    display: flex;
    flex-flow: row;
    border-top: 5px solid #007396;
    background-color: #003d52;
    align-items: flex-start;
    color: white;
    align-content: center;
    justify-content: space-between;
}

#secondRow .column {
    height: 95%;
    width: 30%;
    align-content: center;
    justify-content: space-between;
}

.secondrowheading {
    font-weight: 900;
    font-size: 1rem;
    padding: 25px;
}

.secondrowheading div {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 15px;
}

#currentAccess {
    text-align: center;
    margin-top: 35%;
    font-size: 2.5rem;
}

#keys .item {
    margin-left: 5px;
}

#thirdRow {
    min-width: 98%;
    height: 40%;
    display: flex;
    flex-flow: column;
    border-top: 5px solid #007396;
    background-color: #003d52;
    align-items: flex-start;
    color: white;
    align-content: center;
    justify-content: space-between;
}

#dashboard {
    width: 100%;
    height: 90%;
    padding: 10px;
    font-size: 0.9rem;   
    color: blue; 
    outline: 0px solid transparent;
}

#sentimentData {
    display: flex;
    flex-grow:1;
    border-top: 5px solid #007396;
    width: 100%;
    align-content: center;
    align-items: center;
}